<div [hidden]='techError'>
    <div class="row margin-top-10 margin-bottom-10">
      <div class="col-md-5 col-sm-12 col-xs-12 edit-header">
        Edit Task
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12"></div>
    </div>
      <form #updateTaskForm = "ngForm" method="post" (ngSubmit)="updateTask(task)" novalidate>
      <div class="row margin-top-10">
        <div class="col-md-1 col-sm-12 col-xs-12">
          <label for="projectName" class="control-label label-font"><b>Project:</b></label>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <input #projectName="ngModel" [(ngModel)]="task.projectName" name="projectName" id ="projectName" class="form-control" type="text" readonly required/>
        </div>
        <div class="col-md-1 col-sm-12 col-xs-12 padding-right-neutralize">
          <button type="button" class="btn btn-warning" disabled (click)="getProject()">Search</button>
        </div>			
        <div class="col-md-6 col-sm-12 col-xs-12"></div>
      </div>
  
      <div class="row margin-top-10">
        <div class="col-md-1 col-sm-12 col-xs-12">
          <label for="taskName" class="control-label label-font"><b>Task:</b></label>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
          <input #taskName="ngModel" [(ngModel)]="task.task" name="taskName" id ="taskName" class="form-control" type="text" pattern = "^[a-zA-Z\s]+$" required aria-describedby="taskErrorDiv">
          <div role="alert" aria-live="assertive" id="taskErrorDiv" class="error-message-cmn-cls" *ngIf="taskName.errors && (taskName.dirty || taskName.touched)">
            <span class="fa fa-times"> </span>
            <span class="error-msg" *ngIf="taskName.errors.required">Required.</span>
            <span class="error-msg" *ngIf="taskName.errors.pattern">Please input characters only.</span>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12"></div>
      </div>
      <div class="row margin-top-10">
        <div class="col-md-1 col-sm-12 col-xs-12"></div>
        <div class="col-md-5 col-sm-12 col-xs-12">
          <input #isParentTask="ngModel" [(ngModel)]="task.isParentTask" name="isParentTask" id ="isParentTask" class="margin-top-12" disabled type="checkbox">Parent Task
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12"></div>
      </div>
  
      <div class="row margin-top-10">
        <div class="col-md-1 col-sm-12 col-xs-12">
          <label for="priority" class="control-label label-font"><b>Priority:</b></label>     
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
          {{task.priority}} <input type="range" [(ngModel)]="task.priority" id="priority" name="priority" min="0" max="30" class="slider" [disabled]="task.isParentTask">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12"></div>
      </div>
  
      <div class="row margin-top-10">
        <div class="col-md-1 col-sm-12 col-xs-12">
          <label for="parentTask" class="control-label label-font"><b>Parent Task:</b></label>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <input #parentTask="ngModel" [(ngModel)]="task.parentTaskName" name="parentTask" id ="parentTask" class="margin-bottom-10 form-control" type="text" readonly [disabled]="task.isParentTask">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 padding-right-neutralize">
          <button type="button" class="btn btn-warning" disabled (click)="getParentTask()">Search</button>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12"></div>
      </div>
  
      <div class="row margin-top-10">
        <div class="col-md-1 col-sm-12 col-xs-12">
          <label for="startDate" class="control-label label-font"><b>Start Date:</b></label>     
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
          <input #startDate="ngModel" [(ngModel)]="task.startDate" name="startDate" id ="startDate" class="form-control" min="{{minDate | date:'yyyy-MM-dd'}}" type="date" required [disabled]="task.isParentTask">
        </div>
        <div class="col-md-1 col-sm-12 col-xs-12">
          <label for="endDate" class="control-label label-font"><b>End Date:</b></label>     
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
          <input #endDate="ngModel" [(ngModel)]="task.endDate" name="endDate" id ="endDate" class="form-control" min="{{minDate | date:'yyyy-MM-dd'}}" type="date" required [disabled]="task.isParentTask">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12"></div>
      </div>
  
      <div class="row margin-top-10">
        <div class="col-md-1 col-sm-12 col-xs-12">
          <label for="user" class="control-label label-font"><b>User:</b></label>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <input #user="ngModel" [(ngModel)]="userName" name="user" id ="user" class="margin-bottom-10 form-control" type="text" readonly required/>
        </div>
        <div class="col-md-1 col-sm-12 col-xs-12 padding-right-neutralize">
          <button type="button" class="btn btn-warning" disabled (click)="getUser()">Search</button>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12"></div>
      </div>
  
      <div class="row margin-top-20">
        <div class="col-md-1 col-sm-12 col-xs-12"></div>
        <div class="col-md-5 col-sm-12 col-xs-12 text-align-right">
          <button type="submit" class="btn btn-info task-add-button">Update Task</button>
          <button type="button" class="btn btn-basic task-add-button margin-left-20" (click)="reset()">Reset</button>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12"></div>
      </div>
      <div class="row margin-top-10 *ngIf='isError'">
        <div class="col-md-1 col-sm-12 col-xs-12"></div>
        <div class="col-md-6 col-sm-12 col-xs-12 error-msg">
          {{errorMessage}}
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12"></div>
      </div>	
    </form>
    
    <button data-toggle="modal" data-target="#searchProjectModalWindow" id='searchProjectPopupOpener' [hidden]='true'>Open Modal</button>
    <button data-toggle="modal" data-target="#searchParentTaskModalWindow" id='searchParentTaskPopupOpener' [hidden]='true'>Open Modal</button>
    <button data-toggle="modal" data-target="#searchUserModalWindow" id='searchUserPopupOpener' [hidden]='true'>Open Modal</button>
  </div>
  
  <pm-loading class="text-align-center" [hidden]="!screenLoader"></pm-loading>
  
  <div [hidden]='!techError'>
    <div class="row margin-top-30">
      <p class="error-msg text-align-center">Sorry, our system is not working the way it should. Please try later</p>
    </div>
  </div>
  
  <div id="searchProjectModalWindow" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input #selectedProj="ngModel" [(ngModel)]="selectedProject" name="selectedProject" id ="selectedProject" class="form-control" type="text" pattern = "^[a-zA-Z\s]+$" required placeholder="Search..."/>
          <ul class="list-group margin-top-30" *ngIf='null != projectList'>
            <li *ngFor="let proj of projectList | searchFilter : selectedProject : 'projectDetails'" class="list-group-item">
              <a href="javascript:void(0)" (click)="setProject(proj)">{{proj.project}}</a>
            </li>
            
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" id='setUser' class="btn btn-info" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
  
  <div id="searchParentTaskModalWindow" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input #selectedParTask="ngModel" [(ngModel)]="selectedParentTask" name="selectedParentTask" id ="selectedParentTask" class="form-control" type="text" pattern = "^[a-zA-Z\s]+$" required placeholder="Search..."/>
          <ul class="list-group margin-top-30" *ngIf='null != parentTaskList'>
            <li *ngFor="let parentTask of parentTaskList | searchFilter : selectedParentTask : 'parentTaskDetails'" class="list-group-item">
              <a href="javascript:void(0)" (click)="setParentTask(parentTask)">{{parentTask.parentTaskName}}</a>
            </li>
            
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" id='setUser' class="btn btn-info" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
  
  <div id="searchUserModalWindow" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input #selectedUsr="ngModel" [(ngModel)]="selectedUser" name="selectedUser" id ="selectedUser" class="form-control" type="text" pattern = "^[a-zA-Z\s]+$" required placeholder="Search..."/>
          <ul class="list-group margin-top-30" *ngIf='null != userList'>
            <li *ngFor="let user of userList | searchFilter : selectedUser : 'userDetails'" class="list-group-item">
              <a href="javascript:void(0)" (click)="setUser(user)">{{user.lastName}}, {{user.firstName}}</a>
            </li>
            
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" id='setUser' class="btn btn-info" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>